* {
    margin: 0px;
    box-sizing: border-box;
}

#tabuleiro {
    width: 600px;
    border: 3px solid black;
    overflow: auto;
    background-color: rgb(241, 249, 250);
}


.boxTabuleiro {
    width: 33.33%;
    height: 200px;
    border: 3px solid rgb(110, 76, 76);
    float: left;
    background-color: rgb(44, 43, 43);
}

.boxTabuleiro:hover {
    cursor: pointer;
    background-color: grey;
}
.imgTabuleiro{
    background: no-repeat;
}

.imgXis {
    background-image: url('../img/x.png');
}
.imgCircle{
    background-image: url('../img/0.png');
}